@model FinancialThing.Models.Toggle
           
@{
    string id = Model.Id;
    bool value = Model.State;
    string isChecked = value ? "checked=true" : "";
}

<div class="wrapper">
    <input type="checkbox" name="toggle_@Model.Id" id="toggle_@id" class="toggle" @isChecked value="@Model.State" data-id="@id">
    <label for="toggle_@id"></label>
</div>

