<table data-ajax-content="true">
    <thead>
        <tr><td class="label">Fiscal data as of Sep 30 2014</td><td>2014</td><td>2013</td><td>2012</td></tr>
    </thead>
    <tbody>
        <tr class="section even"><td colspan="4">ASSETS</td></tr>
        <tr class="odd"><td class="label">Cash And Short Term Investments</td><td>1,413</td><td>1,809</td><td>631</td></tr>
        <tr class="even"><td class="label">Total Receivables, Net</td><td>2,857</td><td>2,918</td><td>2,980</td></tr>
        <tr class="odd"><td class="label">Total Inventory</td><td>2,875</td><td>3,296</td><td>3,132</td></tr>
        <tr class="even"><td class="label">Prepaid expenses</td><td>--</td><td>120</td><td>104</td></tr>
        <tr class="odd">
            <td class="label">Other current assets, total</td>
            <td>38</td>
            <td>245</td>
            <td>266</td>
        </tr>
        <tr class="Bold even"><td class="label">Total current assets</td><td>7,183</td><td>8,388</td><td>7,113</td></tr>
        <tr class="odd"><td class="label">Property, plant &amp; equipment, net</td><td>1,854</td><td>2,080</td><td>2,025</td></tr>
        <tr class="even"><td class="label">Goodwill, net</td><td>--</td><td>11,208</td><td>10,970</td></tr>
        <tr class="odd"><td class="label">Intangibles, net</td><td>15,334</td><td>6,174</td><td>6,639</td></tr>
        <tr class="even"><td class="label">Long term investments</td><td>577</td><td>17</td><td>16</td></tr>
        <tr class="odd"><td class="label">Note receivable - long term</td><td>69</td><td>85</td><td>98</td></tr>
        <tr class="even"><td class="label">Other long term assets</td><td>605</td><td>312</td><td>636</td></tr>
        <tr class="Bold odd"><td class="label">Total assets</td><td>25,907</td><td>28,422</td><td>27,639</td></tr>
    </tbody>
    <tbody>
        <tr class="section even"><td colspan="4">LIABILITIES</td></tr><
        tr class="odd">
    <td class="label">Accounts payable</td>
    <td>6,957</td>
    <td>1,055</td>
    <td>1,036</td>
    <tr class="even"><td class="label">Accrued expenses</td><td>--</td><td>6,134</td><td>6,044</td></tr>
    <tr class="odd"><td class="label">Notes payable/short-term debt</td><td>0</td><td>0</td><td>0</td></tr>
    <tr class="even"><td class="label">Current portion long-term debt/capital leases</td><td>431</td><td>3,276</td><td>1,254</td></tr>
    <tr class="odd"><td class="label">Other current liabilities, total</td><td>349</td><td>617</td><td>808</td></tr>
    <tr class="Bold even"><td class="label">Total current liabilities</td><td>7,737</td><td>11,082</td><td>9,142</td></tr>
    <tr class="odd"><td class="label">Total long term debt</td><td>9,460</td><td>7,858</td><td>8,333</td></tr>
    <tr class="even"><td class="label">Total debt</td><td>9,891</td><td>11,134</td><td>9,587</td></tr>
    <tr class="Bold odd"><td class="label">Deferred income tax</td><td>1,446</td><td>1,820</td><td>1,877</td></tr>
    <tr class="even"><td class="label">Minority interest</td><td>398</td><td>56</td><td>49</td></tr>
    <tr class="odd"><td class="label">Other liabilities, total</td><td>1,801</td><td>2,010</td><td>2,203</td></tr>
    <tr class="Bold even"><td class="label">Total liabilities</td><td>20,842</td><td>22,826</td><td>21,604</td></tr>
    </tbody>
    <tbody>
        <tr class="section even"><td colspan="4">SHAREHOLDERS EQUITY</td></tr>
        <tr class="odd"><td class="label">Common stock</td><td>104</td><td>107</td><td>107</td></tr>
        <tr class="even"><td class="label">Additional paid-in capital</td><td>5,836</td><td>5,833</td><td>5,833</td></tr>
        <tr class="odd"><td class="label">Retained earnings (accumulated deficit)</td><td>(756)</td><td>(791)</td><td>(150)</td></tr>
        <tr class="even"><td class="label">Treasury stock - common</td><td>--</td><td>--</td><td>--</td></tr>
        <tr class="odd"><td class="label">Unrealized gain (loss)</td><td>--</td><td>--</td><td>--</td></tr>
        <tr class="even"><td class="label">Other equity, total</td><td>(119)</td><td>447</td><td>245</td></tr>
        <tr class="Bold odd"><td class="label">Total equity</td><td>5,065</td><td>5,596</td><td>6,035</td></tr>
        <tr class="Bold even"><td class="label">Total liabilities &amp; shareholders' equity</td><td>25,907</td><td>28,422</td><td>27,639</td></tr>
        <tr class="odd"><td class="label">Total common shares outstanding</td><td>957</td><td>969</td><td>990</td></tr>
        <tr class="even"><td class="label">Treasury shares - common primary issue</td><td>79</td><td>99</td><td>78</td></tr>
    </tbody>
</table>