@model FinancialThing.Models.CompanyViewModel

@if (Model != null)
{
    <tr>
        <td class="label" id="label-@Model.Id">@Model.DisplayName</td>
        <td>@Html.EditorFor(a => Model.Toggle, "Toggle")</td>
        <td><a class="button blink inline" onclick="generateData('@Model.Id')">Generate</a></td>
    </tr>
}

